.Select { 
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 0 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid #b0ccff;
}
.Select:hover,
.Select:active,
.Select:focus {
  border: 1px solid #2874ff;
}