.Profile {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: auto;
}
.Tab {
  width: 90%;
  max-width: 950px;
  height: 40px;
  margin: 20px auto;
  border-bottom: 1px solid #ccc;
  user-select: none;
}
.Window {
  width: 90%;
  max-width: 950px;
  margin: auto;
}
.Tab1,
.Tab2 {
  width: 50%;
  height: calc(100% - 10px);
  float: left;
  text-align: center;
  color: #2874ff;
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 10px;
  cursor: pointer;
}
.Active {
  background-color: #2874ff;
  color: white;
}

@media( max-width: 650px ) {
  .Tab,
  .Window {
    width: 100%;
  }
}