.Order {
  width: 95%;
  height: auto;
  margin: 40px auto;
  border: 1px solid #87cefa;
  box-shadow: 0 2px 3px #ccc;
}

.Header {
  width: 100%;
  height: 50px;
  border-bottom: 15px solid #006989;
}
.Title {
  /* background-color: aqua; */
  color: #006989;
  font-size: 1.2em;
  font-weight: bold;
  width: 92%;
  margin: auto;
  position: relative;
  top: 15px;
  overflow: hidden;
  word-break: break-all;
}
.Status {
  /* background-color: aliceblue; */
  width: 100%;
  height: auto;
}
.Footer {
  width: 100%;
  height: 35px;
  border-top: 2px solid #006989;
  cursor: pointer;
  user-select: none;
}
.Window {
  width: 100%;
  height: auto;
  /* background-color: aqua; */
}
.Summary {
  width: 96%;
  margin: auto;
}

.IconC {
  /* background-color: blueviolet; */
  font-size: 1.5em;
  float: left;
  margin-top: 5px;
}
.FText {
  /* background-color: aqua; */
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  color: #006989;
  margin-top: 5px;
}
.OTitle {
  color: #006989;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
} 
.Items {
  /* background-color: #eee; */
  width: 100%;
  max-height: 250px;
  overflow: auto;
  border-top: 1px solid #ccc;
}