.Status {
  padding-bottom: 10px;
  width: 100%;
}
.CancelMsg {
  width: 100%;
  height: 25px;
  margin: 20px 0;
  text-align: center;
  font-size: 1.2em;
  color: #ff0000;
  font-weight: bold;
}
.Cancel {
  width: 100%;
  height: 50px;
  margin: 15px 0;
  text-align: center;
}
.CIcon {
  height: 25px;
  display: inline-block;
  font-size: 1.5em;
}
.CancelText {
  font-size: 1em;
  font-weight: bold;
  color: #ff0000;
}