.Select { 
  background-color: white;
  width: auto;
  font-size: 0.9em;
  height: 30px;
  /* color: #2874ff; */
  padding: 3px;
  border: 1px solid #2874ff;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
}
.Select:hover,
.Select:focus,
.Select:active {
  border: 2px solid #2874ff;
}
@media( max-width: 600px ) {
  .Select {
    font-size: 0.8em;
  }
}
