.Item {
  width: 100%;
  height: 150px;
  border-top: 2px solid #eee;
  background-color: white;
}

.Container {
  width: 95%;
  height: 90%;
  margin: auto;
  margin-top: 1%;
}
.Photo {
  width: 150px;
  height: calc(100% - 2px);
  border: 1px solid #eee;
  float: left;
  border-radius: 4px;
}
.Photo img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.Both {
  height: 100%;
  width: calc(100% - 152px);
  float: right;
}
.Info {
  width: 55%;
  height: 100%;
  text-align: left;
  float: left;
}

.Price,
.Bucket {
  width: 45%;
  height: 100%;
  float: left;
  text-align: right;
  color: #2874ff;
  font-weight: bold;
  font-size: 1.3em;
  word-wrap: break-word;
  overflow: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Icon {
  width: 100%;
  height: 20px;
}
.Cross {
  width: 22px;
  height: 100%;
  float: right;
}
.Price div {
  padding-top: 55px;
}
.P {
  padding-top: 30px;
  height: 50px;
}
.Incr {
  width: 175px;
  height: 30px;
  float: right;
}
.Sub {
  width: 90%;
  height: 100%;
  margin: auto;
  color: #444;
  overflow: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Name {
  font-weight: bold;
  font-size: 1.2em;
  height: 36%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;  
  color: #2874ff;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
}
.Category {
  font-size: 1.1em;
  opacity: 0.7;
  height: 18%;
}
.Unit {
  font-size: 1em;
  height: 20%;
}
.Quntity {
  font-size: 1.2em;
  height: 20%;
}
.Category,
.Unit,
.Quntity {
  width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
  word-wrap: break-word;
  hyphens: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media(max-width: 650px) {
  .Photo {
    width: 90px;
  }
  .Both {
    width: calc(100% - 92px);
  }
  .Item {
    height: 100px;
  }
  .Price,
  .Bucket {
    font-size: 0.9em;
  }
  .Price div {
    padding-top: 35px;
  }
  .P {
    padding-top: 20px;
    height: 35px;
  }
  .Incr {
    height: 20px;
    width: 90px;
  }
  .Name {
    font-size: 0.9em;
  }
  .Category {
    font-size: 0.8em;
  }
  .Unit {
    font-size: 0.9em;
  }
  .Quntity {
    font-size: 0.9em;
  }
  .Icon {
    height: 15px;
  }
  .Cross {
    width: 15px;
  } 
}