.isAuth,
.isNotAuth {
  width: calc(25% - 1px);
  height: 100%;
  text-overflow: ellipsis;
  float: left;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-right: 1px solid #2874ff;
}
.isNotAuth {
  width: calc(33.33% - 1px);
}
.Container,
.Active {
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 4px;
}
.isAuth:hover > .Container,
.Active {
  background-color: white;
  color: #2874ff;
}
.Icon {
  margin-left: 12px;
  text-align: center;
  font-size: 1.6em;
  margin-top: 4px;
}
.Label {
  text-align: center;
}

/*  ---------------- */

/* .isAuth,
.isNotAuth {
  width: 25%;
  height: 100%;
  text-overflow: ellipsis;
  float: left;
  cursor: pointer;
}
.isNotAuth {
  width: 33.33%;
}
.isAuth a,
.isNotAuth a {
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.isNotAuth a.active,
.isNotAuth a:active,
.isNotAuth a:hover,
.isAuth a.active,
.isAuth a:active,
.isAuth a:hover
 {
  background-color: white;
  color: #2874ff;
}
.isAuth:hover,
.isNotAuth:hover,
.isAuth:active,
.isNotAuth:active {
  background-color: white;
  color: #2874ff;
}
.Icon {
  margin-left: 12px;
  text-align: center;
  font-size: 1.6em;
  margin-top: 4px;
}
.Label {
  text-align: center;
} */