.Header {
  background-color: #2874FF;
  width: 100%;
  height: 50px;
}
.Fuse {
  height: calc(100% - 10px);
  float: left;
  color: white;
  font-size: 2em;
  font-weight: bold;
  padding-top: 5px;
  text-decoration: none;
}
.Nav {
  float: right;
}
.Container {
  height: 100%;
  width: 90%;
  margin: auto;
}
@media (max-width:650px) {
  .Nav {
      clear: both;
      display: none;
  }
  .Fuse {
    float: right;
  }
  .ToggleButton {
    box-sizing: border-box;
    height: 100%;
    width: 40px;
    float: left;
  }
}