.Block,
.Block1 {
  width: 100%;
  height: 55px;
}
.Block1 {
  height: 90px;
}
.Top {
  width: 100%;
  height: 22px;
  font-size: 1em;
  font-weight: bold;
  color: #2874ff;
  margin-bottom: 10px;
}
.Icon1,
.Icon2 {
  float: left;
  height: 100%;
  width: 20px;
  font-size: 1.3em;
}
.Text1,
.Text2 {
  width: calc(100% - 30px);
  height: 100%;
  float: right;
}
.Bottom,
.Bottom1 {
  width: calc(100% - 40px);
  height: 25px;
  float: right;
  font-size: 1.1em;
  font-weight: bold;
  color: #444;
}
.Bottom1 {
  height: 60px;
}
.Icon2 {
  font-size: 0.8em;
}
.Text2 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow: auto;
  font-size: 14px;
}
@media( max-width: 650px ) {
  .Block1 {
    height: 100px;
  }
  .Bottom1 {
    height:  70px;
  }
}