.Cart {
  background-color: white;
  width: 95%;
  max-width: 950px;
  height: auto;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.Cart:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.NameC {
  background-color: white;
  width: 100%;
  height: 60px;
  border-bottom: 5px solid #2874ff;
}
.Name,
.Footer {
  width: 95%;
  height: 42%;
  margin: auto;
  font-size: 1.3em;
  font-weight: bold;
  color: #2874ff;
  position: relative;
  top: 28%;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.FooterC {
  width: 95%;
  height: 45px;
  background-color: #2874ff;
  color: white;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 4px;
}
.Footer {
  font-size: 1.2em;
  height: 50%;
}
.Text {
  float: left;
  color: white;
}
.Icon {
  margin-top: 1px;
  float: right;
}
.SName {
  width: calc(100% - 25px);
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.CIcon {
  width: 22px;
  float: right;
}

@media( max-width: 650px ) {
  .NameC {
    height: 50px;
  }
  .Name,
  .Footer {
    font-size: 1.2em;
    top: 25%;
  }
}