.Cart {
  /* background-color: aliceblue; */
  width: 90%;
  max-width: 950px;
  height: auto;
  margin: 30px auto;
  border: 2px solid #87cefa;
  box-shadow: 0 2px 3px #ccc;
}
.NameC {
  background-color: white;
  /* background-color: aquamarine; */
  width: 100%;
  height: 60px;
  border-bottom: 20px solid #006989;
}
.Name,
.Footer {
  /* background-color: blanchedalmond; */
  width: 95%;
  height: 42%;
  margin: auto;
  font-size: 1.3em;
  font-weight: bold;
  color: #006989;
  position: relative;
  top: 29%;
  word-break: break-all;
  overflow: hidden;
}
.FooterC {
  width: 95%;
  height: 50px;
  background-color: #006989;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}
.Footer {
  font-size: 1.2em;
}
.Text {
  float: left;
  color: white;
}
.Icon {
  /* background-color: aqua; */
  float: right;
}
.SName {
  /* background-color: blueviolet; */
  width: calc(100% - 25px);
  float: left;
}
.CIcon {
  /* background-color: chartreuse; */
  width: 22px;
  float: right;
}

@media( max-width: 650px ) {
  .NameC {
    height: 50px;
  }
  .Name,
  .Footer {
    font-size: 1.2em;
    top: 25%;
  }
}